@import "../variables.scss";

.portfolio {
  background: $dark_white;

  .projects_container {
    // TABS
    .projects_tabs {
      a {
        border-radius: 0;
        border: none;
        font-weight: bold;
        transition: $short_transition;
        &:hover {
          transform: scale(1.1);
        }
      }
      a.active {
        background-color: $pink;
      }
    }

    // PROJECTS
    .projects {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));

      .project {
        .project_overlay {
          overflow: hidden;
          background: $dark_white;
          z-index: 2;
          opacity: 0;
          transition: $transition;
          // text
          .project_text {
            opacity: 0;
            transform: translateY(-120%);
            span {
              color: $pink;
            }
          }
          // btn
          .project_btn {
            opacity: 0;
            transform: translateY(120%);
            button {
              background: transparent;
              border: 2px solid $pink;
              font-size: 20px;
              transition: $short_transition;
              &:hover {
                background: $pink;
                color: $white;
              }
            }
          }
        }

        // Porject hover
        &:hover {
          .project_overlay {
            opacity: 1;
            .project_text {
              animation: $move_down;
            }
            .project_btn {
              animation: $move_up;
            }
          }
        }
      }
    }
  }
}
