@import "../variables.scss";

.portfolio {
  background: $dark_white;

  .projects_container {
    // TABS
    .projects_tabs {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

      a {
        background: transparent;
        border-radius: 0;
        border: none;
        font-weight: bold;
        transition: $short_transition;
        &:hover {
          transform: scale(1.1);
        }
      }
      a.active {
        background-color: $pink;
      }
    }

    // PROJECTS
    .projects {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      .project {
        .project_overlay {
          overflow: hidden;
          background: $dark_white;
          z-index: 2;
          opacity: 0;
          transition: $transition;
          // text
          .project_text {
            opacity: 0;
            transform: translateY(-120%);
            @media screen and (max-width: 359px) {
              font-size: 13px;
            }
            span {
              color: $pink;
            }
          }
          // btn
          .project_btn {
            opacity: 0;
            transform: translateY(120%);
            button {
              background: transparent;
              border: 2px solid $pink;
              font-size: 16px;
              @media screen and (max-width: 359px) {
                font-size: 13px;
              }
              transition: $short_transition;
              &:hover {
                background: $pink;
                color: $white;
              }
            }
          }
        }

        // Porject hover
        &:hover {
          .project_overlay {
            opacity: 1;
            .project_text {
              animation: $move_down;
              @media screen and (min-width: 992px) and (max-width: 1200px) {
                animation: $move_down_sm;
              }
              @media screen and (max-width: 360px) {
                animation: $move_down_xs;
              }
            }
            .project_btn {
              animation: $move_up;
              @media screen and (min-width: 992px) and (max-width: 1200px) {
                animation: $move_up_sm;
              }
              @media screen and (max-width: 359px) {
                animation: $move_up_xs;
              }
            }
          }
        }
      }
    }
  }
}
