@import "../Scss/variables.scss";

.costum_navbar {
  background: $dark_blue;
  border-bottom: 3.8px solid $light_blue;
  z-index: 10 !important;

  // toggle btn
  .navbar_toggler {
    border: none;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  // main content
  .navbar_content {
    .navbar_nav {
      a,
      a.active {
        color: $white;
        font-size: 16px;
        transition: $short_transition;
        &:hover {
          color: $pink;
        }
      }
      a.nav_link_active {
        color: $pink;
        font-weight: bold;
      }
    }
  }
}
